* {
    margin: 0px;
}

@font-face {
    font-family: "Cygre";
    src: url(../fonts/ofont.ru_Cygre.ttf);
}

.recomends {
    margin: 8px;
    font-size: 30px;
    font-family: 'Cygre';
    display: inline-block;
    background-color: rgb(35, 158, 66);
}

.container {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 60px;
    display: block;
    background-color: rgb(35, 158, 66);
}

header {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 30px 30px 30px;
    background-color: rgb(160, 0, 0);
    text-align: center;
}

p {
    margin: 8px;
    font-size: 30px;
}